<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>주변 정보를 얻어오기 위해 지도 권한을 허용해주세요.</string>
	<key>NMFClientId</key>
	<string>lww4n4e9ck</string>
</dict>
</plist>
